# Service B (Processor) Configuration
PORT=8081
WEATHER_API_KEY=your_weather_api_key_here
WEATHER_API_BASE_URL=https://api.weatherapi.com/v1
VIACEP_BASE_URL=https://viacep.com.br/ws
ZIPKIN_URL=http://zipkin:9411/api/v2/spans
